# Для помощи в настройке, напиши создателю проекта в Телеграм: @alisheykhov_tagir

# Для начала работы скопируйте этот файл и укажите ваши токены в переменных.
TELEGRAM_BOT_TOKEN=your_token
OPEN_ROUTER_AI_URL=https://openrouter.ai/api/v1 # вы можете использовать другой сервис, просто поменяйте ссылку.
API_KEY=your_llm_model_token # токен ии модели
